html{
	/*height: 100%;*/
	/* temporaire pour pouvoir scroll corecemment dans la page*/
	height: 1400px; 
	width: 100%;
}

body{
	font-family: Arial;
	background: linear-gradient(to bottom right, Gray, Black);
	margin: 0;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}

.main{
	overflow: auto;
	width: 100%;
}

.leftnav{
	display: flex;
    position: fixed;
	height: 100vh;
	width: 232px;
	background: black;
	padding-top : 60px;
}

.leftnav ul{
	margin: 0;
	margin-left: 7%;
	list-style-type: none;
	padding-left: 0;
	width: 200px;

}

.leftnav ul img{
	padding-right: 13px;
}

.leftnav ul li a {
	padding-bottom: 5px;
	border-radius:7px;
	display: block;
	color: Gray;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;


}

.leftnav li a:hover {
	color: white;
}

#active {
	color: White;
	background-color: #5c5a55;
}

.espace{
	margin-bottom: 50px;
}

.border{
	border-top: 1px solid Gray;
}

footer{
	float: left;
	height: 100px;
	width: 100%;
	background-color: rgb(19, 19, 19);
	color: gray;
	bottom: 0;
	position: fixed;
}

.leftFooter {	
	margin-top: 6px;
	height: 100%;
	float: left;
	width: 33%;
}

.LeftFooterTxt{
	padding-top: 16px;
}


.leftFooter p{	
	margin: 5px;
	padding-left: 100px;
}

.leftFooter img{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0;
	float: left;
	width: 60px;
	height: 60px;
}
.midFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}
.rightFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}

/******************************************RECHERCHE***********************************************/



/*****************************************PLAYLISTS*********************************************/

.title{
	margin-left: 232px;
	padding-top: 10px;
	padding-left: 52px;	
}

.title p {
	color: White;
	font-weight: bold;
	font-size: 30px;
}

.mainBlock{
	text-align: center;
	margin-left: 232px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.block1, .block2, .block3, .block4, .block5, .block6, .block7, .block8{
	border-radius:10px;
	height: 350px;
	margin: 50px;
	flex-basis: 260px;
	background-color: darkgrey;
	box-shadow: 0 7px 40px 0 rgba(131, 131, 131, 0.7);
}

.blockTitle p{
	padding-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 1px 1px 2px #606f99;
}

.imgCover img{
	margin-top: 30px;
	margin-bottom: 0;
	height: 200px;
}

.blockText{
	padding-top: 7px;
	margin-left: 18px;
	margin-right: 18px;
}

.blockText p{
	font-size: 13px;
	margin: 0;
}

.block1:hover, .block2:hover, .block3:hover, .block4:hover, .block5:hover, .block6:hover , .block7:hover , .block8:hover{
    box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.7);
} 
