html{
	height: 100%;
	width: 100%;
	
}

body{
	font-family: Arial;
	background: linear-gradient(to bottom right, Gray, Black);
	margin: 0;
}

.leftnav{
	height: 250px;
	width: 250px;
	background: Black;
}

.leftnav ul{
	margin: 0;
	margin-left: 7%;
	list-style-type: none;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border-radius:10px;
}

.leftnav li a {	
   display: block;
   color: Gray;
   padding: 8px 16px;
   text-decoration: none;
}

.leftnav li a:hover {
  color: white;
}

#active {
	color: White;
    background-color: Gray;
}