body{
	height: 953px;
	font-family: Arial;
	background: linear-gradient(to bottom right, Gray, Black);
	margin: 0;
}
/*
.leftnav{
	border-top: 100px solid;
	height: 10px;
	width: 230px;
}*/

.lefnav{
	width: 2300px;
	background: Red;
}

.leftnav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border-radius:10px;
}

.leftnav li a {
  display: block;
  color: Gray;
  padding: 8px 16px;
  text-decoration: none;
}

.leftnav li a:hover {
  color: white;
}

#active {
	color: White;
    background-color: Gray;
}