/**
* ETML
* Auteur      : Anthony Höhn / Younes Sayeh
* Date        : 01.02.2021
* Description : style du html
**/

html{
	/* height: 100%; */
	/* temporaire pour pouvoir scroll corecemment dans la page*/
	height: 120%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background: linear-gradient(to bottom right, Gray, Black);
	margin: 0;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}

.maintest{
	font-size: 20px;
	padding: 1% 0 0 0;
	margin-left: 10%;
	width: 80%;
}

.error{
	background-color: rgb(102, 24, 24);
	padding: 10px;
	color: white;
	text-align: center;
}

.main{
	overflow: auto;
	/* position: absolute; */
}

/* #mainAbout {
	position: unset;
} */

.toggleButton {
	position: absolute;
	margin-top: 30px;
	left: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 44px;
	transition: all 0.2s ease-in-out;
}

.bar {
	height: 7px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.open #middleBar {
	display: none;
}

.open {
	margin: 30px 0 0 0;
	left: 28px;
	transition: all 0.2s ease-in-out;
}

.open #topBar {
	transform: rotate(45deg) translate(18px, -8px);
}

.open #bottomBar {
	transform: rotate(-45deg) translate(13px, 13px);
}

.leftnav h1{
	color: white;
}

.leftnav{
	display: flex;
	/* sorry yene */
	position: fixed;
	height: 150vh;
	width: 232px;
	background: black;
	padding-top : 40px;
}

.leftnav ul{
	margin: 0;
	margin-left: 7%;
	list-style-type: none;
	padding-left: 0;
	width: 200px;
}

.leftnav ul img{
	padding-right: 13px;
}

.leftnav ul li a {
	padding-bottom: 5px;
	border-radius:7px;
	display: block;
	color: Gray;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
}

.leftnav li a:hover {
	color: white;
	transition: all 0.2s ease-out;
}

#active {
	color: White;
}

.logo{
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: 40px;
}

.research{
	margin-bottom: 50px;
}

.allArtists{
	padding-top: 10px;
	border-top: 1px solid Gray;
}


/*****************************LOGIN*********************************/

.login-container{
	margin: 400px 0 0 0;
	border-radius: 10px;
}

input{
  padding: 2px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 150px; 
  border-radius: 5px;
  border: 2px solid rgb(158, 158, 158);
}

.login-container button {
	padding: 10px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 157px; 
	border-radius: 5px;
	background-color: rgb(107, 151, 113);
	color: white;
	cursor: pointer;
}

.notlog a {
	text-decoration: none;
	padding: 10px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 150px; 
	border-radius: 5px;
	background-color:coral;
	color: white; 
}

.notlog p {
	padding: 0 0 10px 10px;

	color: white;
}


/******************************ACCUEIL******************************/

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* ::-webkit-scrollbar {
	width: 20px;
  }
  
  ::-webkit-scrollbar-track {
	box-shadow: 0 0 5px rgb(126, 126, 126);
	border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
	background: rgb(29, 29, 29); 
	border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(20, 20, 20); 
  } */

.ACmainBlock{
	margin-left: 232px;
	display: flex;
	overflow-x: auto;

}

.ACmainBlock .ACblock{
	text-align: center;
	min-width: 200px;
	min-height: 200px;
	border-radius: 10px;
	margin: 50px 20px 30px 20px;
	background-color: rgb(24, 24, 24);

}

.ACmainBlock .ACblock:hover{
	background-color: rgb(43, 43, 43);

}

.ACmainBlock a{
	text-decoration: none;
}

.ACblock a{
	text-decoration: none;

}

.ACblock h1{
	width: 100%;
	font-weight: 800;
	font-size: 20px;
	color: rgb(220, 220, 220);
	/* text-shadow: 1px 1px 3px #5c5c5c; */

}

.ACblock p{
	width: 100%;
	float: bottom;
	text-decoration: none;
	color: rgb(200, 200, 200);
}



.ACblock img{
	box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.7);
	border-radius: 100px;
	margin-top: 10px;
	margin-bottom: 0;
	height: 90px;
}

/*************************Footer****************************************/

footer{
	float: left;
	height: 100px;
	width: 100%;
	background-color: rgb(19, 19, 19);
	color: gray;
	bottom: 0;
	position: fixed;
}

.leftFooter {	
	margin-top: 6px;
	height: 100%;
	float: left;
	width: 33%;
}

.LeftFooterTxt{
	padding-top: 16px;
}


.leftFooter p{	
	margin: 5px;
	padding-left: 100px;
}

.leftFooter img{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0;
	float: left;
	width: 60px;
	height: 60px;
}
.midFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}
.rightFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}

/********************************************Recherche************************************************/


.searchBarTitle h1 {
	color: white;
	padding: 0 0 20px 0;
}

.searchBar {
	margin: auto;
	position: relative;
	max-width: 100%;
    height: 50px;
	padding: 10px 60px 0 292px;
}

.searchBarInputContainer {
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
}

.searchIcon {
	height: 50px;
	margin: auto;
}

.icon {
	background-color: transparent;
	height: 95%;
	border: 0;
	outline: none;
}

#icon {
	margin: 5px 0 0 0;
}

.icon:hover {
	cursor: pointer;
}

#search {
	width: 95%;
	height: 40px;
	font-size: 25px;
	border: 0;
	background-color: white;
	outline:none;
}

.searchBarInput {
	width: 100%;
	margin: auto;
	background-color: white;
	border-radius: 10px;
}

.allTitleContainer {
	width: 100%;
    position: relative;
    margin: auto;
}

.result {
	text-align: left;
	margin: 5% 0 0 0; 
	color: white;
}

.titleContainer {
	height: 80px;
    position: relative;
    border-radius: 5px;
    margin: 5% 0 0 0;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.titleContainer img{
	float: left;
	margin: 7px 0 0 7px;
	border-radius: 7px;
	height: 65px;
}

.titleContainer p{
	float: left;
	margin: 30px 0 0 3%;
	font-size: 18px;
	color: rgb(180, 180, 180);
}


/********************************************Artistes*************************************************/


.ARmainBlock{
	text-align: center;
	margin-left: 232px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.ARblock1{
	border-radius: 10px;
	height: 270px;
	margin: 50px 20px 0 20px;
	flex-basis: 260px;
	background-color: darkgrey;
}

.ARblock1 a{
	text-decoration: none;
	color: rgb(32, 32, 32);
}

.ARblockTitle p{
	padding-top: 5px;
	margin: 0 10px 0 10px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 4px 4px 7px #5c5c5c;
}

.ARimgCover img{
	box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.7);
	border-radius: 100px;
	margin-top: 30px;
	margin-bottom: 0;
	max-height: 120px;
}

.ARblockText{
	padding-top: 7px;
	margin-left: 18px;
	margin-right: 18px;
}

.ARblockText p{
	font-size: 13px;
	margin: 0;
}

.plus{
	background-color: rgb(88, 88, 88);
	height: 22px;
	width: 22px;
	margin-left: 85%;
	border-radius: 30px;
	margin-top: -4%;
}

.plus a{
	margin: 5px;
	font-weight: 400;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

.plus:hover a {
	color: rgb(226, 226, 226);
}

.ARblock1:hover{
    box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.7);
} 
/*******************************************TOUS LES TITRES**********************************************/
.alltitle{
	margin-left: 232px;
	padding: 30px 0 0 0;
	color: White;
	font-weight: bold;
	font-size: 80px;
}

.alltitle p{
	margin-left: 2%;
	position: fixed;
	z-index: -1;
}

.alltitle img{
	float: left;
	box-shadow: 0 24px 25px 0 rgba(0, 0, 0, 0.7);
	border-radius: 100px;
	margin: 70px 0 0 0;
	height: 120px;
	position: fixed;
	z-index: -1;
}

.alltitlemainBlock{
	background: linear-gradient(to left, rgb(36, 35, 80), rgb(15, 29, 55));
	padding-bottom: 40%;
	margin: 370px 0 0 232px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
/*******************************************Titres likés*************************************************/
/* .alltitle{
	margin-left: 232px;
	padding: 30px 0 0 0;
	color: White;
	font-weight: bold;
	font-size: 80px;
}


.alltitle img{
	float: left;
	box-shadow: 0 24px 25px 0 rgba(0, 0, 0, 0.7);
	border-radius: 100px;
	margin: 70px 0 0 0;
	height: 120px;
	position: fixed;
	z-index: -1;
}

.alltitlemainBlock{
	background: linear-gradient(to left, rgb(36, 35, 80), rgb(15, 29, 55));
	padding-bottom: 40%;
	margin: 350px 0 0 232px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
} */

/*******************************************Playlist perso***********************************************/
.Playlisttitle{
	margin-left: 232px;
	padding: 30px 0 0 70px;
	color: White;
	font-weight: bold;
	font-size: 80px;
}

.Playlisttitle p{
	margin-left: 10%;
	/* position: fixed; */
	z-index: -1;
}

.Playlisttitle img{
	float: left;
	box-shadow: 0 24px 25px 0 rgba(0, 0, 0, 0.7);
	border-radius: 20px;
	margin: 70px 0 0 0;
	height: 120px;
	/* position: fixed; */
	z-index: -1;
}

.ListMusicsMainBlock{
	background: linear-gradient(to bottom right, rgb(32, 32, 32), rgb(138, 143, 138));
	padding-bottom: 12%;
	margin: 100px 0 0 232px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.PLblock1 a{
	text-decoration: none;
}

.PLblock1 p{
	color: rgb(36, 36, 36);
}

.notlogplaylist{
	margin-left: 232px;
	padding: 30px;
}

/******************************************Création playlists********************************************/

.plalistCreaTitle{
	margin-left: 232px;
	padding: 0 0 0 0;
	color: White;
	font-weight: bold;
	font-size: 80px;
}

.plalistCreaTitle p{
	margin-left: 2%;
}

.formCreation{
	margin: 0 0 0 232px;
}

.formCreation label{
	font-weight: bold;
	color: white;
	margin-left: 2%;
	font-size: 30px;
}

.playlistCreaBlock {
	margin: 260px 0 0 0;
}

.playlistCreaBlock{
	background: linear-gradient(to left, rgb(36, 35, 80), rgb(15, 29, 55));
	padding-bottom: 40%;
	margin: 110px 0 0 232px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*******************************************ARTISTES PERSO***********************************************/
.ARPtitle{
	margin-left: 232px;
	padding: 30px 0 0 70px;
	color: White;
	font-weight: bold;
	font-size: 80px;
}

.ARPtitle p{
	margin-left: 10%;
	position: fixed;
	z-index: -1;
}

.ARPtitle img{
	float: left;
	box-shadow: 0 24px 25px 0 rgba(0, 0, 0, 0.7);
	border-radius: 100px;
	margin: 70px 0 0 0;
	height: 120px;
	position: fixed;
	z-index: -1;
}

.ARPmainBlock{
	background: linear-gradient(to bottom right, rgb(32, 32, 32), rgb(138, 143, 138));
	padding-bottom: 30%;
	margin: 400px 0 0 232px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.ARPblock1{
	height: 80px;
	border-radius: 5px;
	margin: 30px 20px 20px 20px;
	background-color: rgb(10, 10, 10);
	/* box-shadow: 0 7px 40px 0 rgba(85, 85, 85, 0.7);	 */
}

#ARPblock1Id {
	margin: 30px 0px 20px 0px;
}

.ARPblock1 p{
	float: left;
	margin: 30px 0 0 3%;
	font-size: 18px;
	color: rgb(180, 180, 180);
	/* text-shadow: 4px 4px 7px #5c5c5c; */
}

.ARPblock1 img{
	float: left;
	margin: 7px 0 0 7px;
	border-radius: 7px;
	height: 65px;
}

.ARPblock1 input {
	margin-top: 33px;
	width: 50px;
	float: left;
}

svg.like{
	float: right;
	margin: 25px 50px 0 0;
	fill: White;
}

svg.like:hover{
	fill: rgb(54, 184, 54);
}

.dropbtn {
	margin : 25px 14px 0 0;
	border-radius: 10px;
	background-color: rgb(136, 136, 136);
	color: white;
	padding: 5px 10px 0 10px;
	font-size: 18px;
	font-weight: 800;
	border: none;
	cursor: pointer;
} 

#heartBtnList {
	display: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	border-radius: 10px;
	display: none;
	/* position: relative; */
	right: 0;
	background-color: #f9f9f9;
	/* min-width: 160px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* .dropdown-content a:hover {background-color: #757575;} */
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(177, 177, 177);}

/*******************************************PLAYLISTS***********************************************/

.title{
	margin-left: 232px;
	padding-top: 10px;
	padding-left: 60px;	
}

.title p{
	color: White;
	font-weight: bold;
	font-size: 30px;
}

.PLmainBlock{
	text-align: center;
	margin-left: 232px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.playlistcreation{	
	flex-basis: 260px;
	margin: 170px 50px 150px 50px;
	background-color: darkgrey;
	border-radius: 30px;
	box-shadow: 0 7px 40px 0 rgba(88, 88, 88);
}

.playlistcreation p{
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(32, 32, 32);
}

.playlistcreationBoutton{
	margin: 12px;
	height: 45px;
	border-radius: 30px;
	margin-left: 108px;
	margin-right: 108px;
	background-color: rgb(88, 88, 88);
}

.playlistcreationBoutton a{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

.playlistcreationBoutton:hover a {
	color: rgb(226, 226, 226);
}

.PLblock1{
	border-radius:10px;
	height: 320px;
	margin: 50px;
	flex-basis: 260px;
	background-color: darkgrey;
	box-shadow: 0 7px 40px 0 rgba(131, 131, 131, 0.7);
}

.PLblockTitle p{
	padding-top: 5px;
	margin: 0 10px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 4px 4px 7px #5c5c5c;
}

.PLimgCover img{
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 0;
	height: 200px;
}

.PLblockText{
	padding-top: 7px;
	margin-left: 18px;
	margin-right: 18px;
}

.PLblockText p{
	font-size: 13px;
	margin: 0;
}

.playlistcreation:hover{
    box-shadow: 0 7px 40px 0 rgba(0, 0, 0, 0.7);
} 

/******************************************Formulaire*******************************************/

.tableContainer{
	position: absolute;
	margin-left: 232px;
	padding-left: 40px;
	margin-top: 20px;
}

.tableContainer h1{
	padding: 5px;
	color: white;
	background-color: rgb(85, 145, 93);
	text-align: center;
	/* border: 1px solid white; */
	border-radius: 10px;
}

label {
	font-size: 18px;
	margin: 0 20px 0 0;
}

.radio {
    display: flex;
    padding: 0 0 10px 0;
}

.input {
    padding: 0 0 10px 0;
    margin: 0 0 0 0;
}

#name {
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
    margin: 0 0 0 0;
}

#labelOrigin {
    position: absolute;
}

select {
    width: 150px;
    height: 28px;
}

.button {
    display: flex;
    margin: 0 0 0 0;
}

.btnAdding, .btnDeleting {
    padding: 0 10px 0 0;
}

#btnSubmit, #btnDelete {
    width: 95px;
    height: 28px;
}

/*******************************************ABOUT***********************************************/

.bottom{
	padding-top: 380px;
}

.resContainer {
	margin: auto;
	padding: 90px 0 0 0;
}

.contenu{
	max-width: 100%;
    position: relative;
	margin: 0 0 0 232px;
}

.contenutext{
	width: 50%;
    border-radius: 10px;
    background-color: rgb(169, 169, 169);
    box-shadow: 0 7px 40px 0 rgb(131 131 131 / 70%);
    /* position: absolute; */
    margin: 123px 0 0 26%;
}

.contenutext p{
	text-align: center;
	margin: 20px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 2px 4px 7px #8f8686;
}

.resContenu {
	text-align: center;
	margin: 0 10px 23px 10px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(150, 150, 150);
	text-shadow: 2px 4px 7px #000000;
}

.iconContainer a {
	text-align: center;
}

.iconContainer {
	max-width: 40%;
    position: relative;
    margin: auto;
    text-align: center;
}

.resSVGTwitter{
	padding-left: 2%;
}
.resSVGYTB{
	padding-left: 2%;
}

/***********************************************************************************************/

/*Responsive Design*/

@media only screen and (max-width: 1150px)
{
	/*Navigation Bar*/

	.ARmainBlock{
		margin-left: 0;
	}

	.toggleButton
	{
		display: flex;
		position: absolute;
	}

	.open {
		justify-content: center;
	}

	.leftnav {
		width: 100%;
		height: 110px;
		padding: 0;
		position: unset;
		border-bottom: 1px solid gray;
	}

	.leftnav ul
	{
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.leftnav li {
		width: 100%;
		background-color: black;
		text-align: center;
	}

	.leftnav li:hover {
		background-color: Gray;
	}

	.leftnav ul li a {
		color: white;
		padding: 12px;
	}

	.logo {
		display: none;
	}

	.research {
		margin: 0;
	}

	.bottom {
		padding: 0;
	}

	.home {
		border-top: 1px solid Gray;
	}

	.navBarLink.active {
		display: flex;
		position: absolute;
		margin: 110px 0 0 0;
		z-index: 1;
		align-items: flex-end
	}

	/*Login Form*/

	.login-container{
		margin: -80px 50px 0 0;
		position: absolute;
	}

	#psw, #login {
		height: 34px;
    	border: 1px solid rgb(158, 158, 158);
	}

	.notlog {
		margin: 15px 0 0 0;
		display: flex;
	}

	.notlog a {
		height: 20px;
		margin-top: -8px;
		text-align: center;
	}

	.notlog p {
		display: none;
	}

	/*Content Home*/

	.ACmainBlock{
		margin-left: 20px;
	}

	.title{
		margin-left: 15px;
		padding: 0;
	}

	/*Search Bar*/

	.searchBar {
		padding: 10px 60px 0 50px;
	}

	/*playlist*/

	.PLmainBlock {
		margin: 0;
	}

	/*Artists*/

	.alltitlemainBlock {
		margin: 260px 0 0 0;
	}

	/*Title*/

	.alltitle{
		margin: 0;
		padding: 0;
	}

	/*About*/

	.contenu {
		margin: 0;
	}

	.contenutext {
		margin: auto;
		width: 60%;
	}	
}




@media only screen and (max-width: 925px)
{ 
	/*Search and Titles*/
	.typeName {
		display: none;
	}

	svg.like {
		margin: 25px 25px 0 0;
	}
	
	
}

@media only screen and (max-width: 735px)
{ 
	/*Search and Titles*/
	.musDuration {
		display: none;
	}

	/*Login form*/

	.login-container {
		position: unset;
		margin: 0;
		background-color: black;
		width: 100%;
		border-radius: 0;
		height: 57px;
		border: 1px solid grey;
		border-left: none;
		border-right: none;
	}

	#loginForm {
		text-align: center;
	}

	.notlog {
		justify-content: center;
	}
}

@media only screen and (max-width: 595px)
{ 
	/*Search and Titles*/
	.artName {
		display: none;
	}

	#heartBtnList {
		display: block;
		border-top: 1px solid #808080;
	}

	.likeList:hover {
		fill: rgb(54, 184, 54);
	}

	#heartBtn {
		display: none;
	}


	.searchBar {
		padding: 10px 5px 0 5px;
	}

	/*Playlists*/
	.PLblock1, .PLblock2, .PLblock3, .PLblock4, .PLblock5, .PLblock6, .PLblock7, .PLblock8 {
		margin: 50px 19px;
	}

	/*About*/
	.contenutext {
		width: 90%;
	}
}

@media only screen and (max-width: 494px)
{ 
	/*Login*/

	.login-container {
		height: 150px;
		display: flex;
  		align-items: center;
	}
}