/**
* ETML
* Auteur      : Anthony Höhn / Younes Sayeh / Julien Cartier / Killian Good
* Date        : 01.02.2021
* Description : style du html
**/

/**Variables CSS - Couleur**/
:root
{
	--back-color: #ffffff;
	--backError-color: #ff3333;
	--backSucces-color: #0fcf59;
	--gray-color: Gray;
	--blackBackground-color: Black;
	--borderInput-color: #9e9e9e;
	--buttonBack-color: #6b9771;
	--coralButton-color: Coral;
	--lightBlack-color: #181818;
	--ligthBlackhover-color: #0a0a0a;
	--lighterBlack-color: darkgrey;
	--pastel-color: #ffffff;
	--lightPastel-color: #c8c8c8;
	--greenLike-color: #36ba36;
	--dropdown-color: #f9f9f9;
}


html{
	height: 120%;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	background: linear-gradient(to bottom right, var(--gray-color), var(--blackBackground-color));
	margin: 0;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat
}

.mainContent{
	margin-left: 232px;
}

.main404{
	font-size: 20px;
	padding: 1% 0 0 0;
	margin-left: 10%;
	width: 80%;
}

.error{
	background-color: var(--backError-color);
	padding: 10px;
	color: var(--back-color);
	text-align: center;
}

.main{
	overflow: auto;
	/* position: absolute; */
}

/* #mainAbout {
	position: unset;
} */

.toggleButton {
	position: absolute;
	margin-top: 30px;
	left: 50px;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 50px;
	height: 44px;
	transition: all 0.2s ease-in-out;
}

.bar {
	height: 7px;
	width: 100%;
	background-color: var(--back-color);
	border-radius: 10px;
}

.open #middleBar {
	display: none;
}

.open {
	margin: 30px 0 0 0;
	left: 28px;
	transition: all 0.2s ease-in-out;
}

.open #topBar {
	transform: rotate(45deg) translate(18px, -8px);
}

.open #bottomBar {
	transform: rotate(-45deg) translate(13px, 13px);
}

.leftnav h1{
	color: var(--back-color);
}

.leftnav{
	display: flex;
	/* sorry yene */
	position: fixed;
	height: 150vh;
	width: 232px;
	background: var(--blackBackground-color);
	padding-top : 40px;
}

.leftnav ul{
	margin: 0;
	margin-left: 7%;
	list-style-type: none;
	padding-left: 0;
	width: 200px;
}

.leftnav ul img{
	padding-right: 13px;
}

.leftnav ul li a {
	padding-bottom: 5px;
	border-radius:7px;
	display: block;
	color: var(--gray-color);
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
}

.leftnav li a:hover {
	color: var(--back-color);
	transition: all 0.2s ease-out;
}

#active {
	color: White;
	background-color: var(--gray-color);
}

.logo{
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: 40px;
}

.research{
	margin-bottom: 50px;
}

.allArtists{
	padding-top: 10px;
	border-top: 1px solid var(--gray-color);
}


/*****************************LOGIN accueil*********************************/

.login-container{
	margin: 400px 0 0 0;
	border-radius: 10px;
}

.login-container a {
	position: fixed;
	text-decoration: none;
	padding: 10px 40px 10px 40px;
	margin: 36px 0 0 0;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	background-color:var(--greenLike-color);
	color: var(--back-color);
}

.notlog a {
	position: fixed;
	text-decoration: none;
	padding: 10px 34px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	border-radius: 5px;
	background-color:var(--coralButton-color);
	color: var(--back-color);
}

.notlog p {
	margin: 0 0 0 0;
	padding: 0 0 10px 5px;
	color: var(--back-color);
}

/*****************************CONNEXION*********************************/

.connexionFormcontent{
	margin: 0;
  	display: flex;
  	justify-content: center;
}

.connexionFormcontent form {
	text-align: center;
	margin: 100px 0 0 0;
	height: 472px;
	width: 400px;
	background-color: var(--ligthBlackhover-color);
	border-radius: 15px;
}

.connexionFormcontent form h2{
	color: var(--pastel-color);
	font-size: 30px;
	margin: 20px 10px 0 20px;
	float: left;
	padding: 10px 10px 100px 0;
}

.connexionFormcontent table{
  	margin: 0 0 0 20px;
}

.connexionFormcontent form table tr td{
  	font-size: 25px;
}

.connexionFormcontent form button{
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	color: #ffffff;
	background-color:var(--gray-color);
	border-radius: 25px;
	cursor: pointer;
}

.connexionFormcontent form button:hover{
	transition: all 0.3s ease-out;
	background-color:var(--lightPastel-color);
}

.connexionFormcontent form table tr td svg{
	margin: 10px 0 0 0;
	position: absolute;
	color: var(--back-color);
}

.connexionFormcontent form table tr input{
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid var(--darkGrey-color);
	width: 270px;
	margin: 10px 0 0 50px;
	padding: 7px;
}

#noAccount {
	color: var(--back-color);
}

.connexionFormcontent button{
  	margin: 30px 0 0 0;
}

.connexionFormcontent p{
	color: var(--greyTitle-color);
	margin: 90px 0 0 0;
}

.connexionFormcontent a{
	color: var(--gray-color);
}

.connexionFormcontent a:hover{
	transition: all 0.3s ease-out;
	color:rgb(88, 94, 105);
}

.tableContainer {
	margin: 0 0 0 20px;
	color: var(--greyTitle-color);
}

/**********************CreateAccount**********************/


.newAccountFormcontent{
	display: flex;
  	justify-content: center;
  
}

.newAccountFormcontent form {
	text-align: center;
	margin: 100px 0 0 0;
	height: 550px;
	width: 400px;
	background-color: var(--ligthBlackhover-color);
	border-radius: 15px;
}

.newAccountFormcontent form h2{
	color: var(--pastel-color);
	font-size: 30px;
	margin: 20px 10px 0 20px;
	float: left;
	padding: 10px 10px 100px 0;
}

.newAccountFormcontent table{
  	margin: 0 0 0 20px;
}

.newAccountFormcontent form table tr td{
  font-size: 25px;
}

.newAccountFormcontent form button{
  	font-size: 20px;
  	border: none;
  	padding: 10px 20px;
  	color: var(--pastel-color);
  	background-color: var(--gray-color);
  	border-radius: 25px;
  	cursor: pointer;
}

.newAccountFormcontent form button:hover{
	transition: all 0.3s ease-out;
  	background-color:var(--gray-color);
}

.newAccountFormcontent form table tr td svg{
  	margin: 10px 0 0 0;
  	position: absolute;
}

.newAccountFormcontent form table tr input{
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid var(--darkGrey-color);
  width: 270px;
  margin: 10px 0 0 50px;
  padding: 7px;
}

.newAccountFormcontent button{
  margin: 30px 0 0 0;
}

.newAccountFormcontent p{
  color: var(--pastel-color);
  margin: 90px 0 0 0;
}

.newAccountFormcontent a{
  color: var(--lightGreen-color);
}

.newAccountFormcontent a:hover{
  color: var(--green-color);
}

.errorLoginContainer{
  margin: 10px 0 0 0;
  width: 100%;
}

.errorLogin{
  margin: auto;
  width: 380px;
  padding: 10px;
  color: var(--pastel-color);
  border-radius: 25px;
  text-align: center;
  background-color: var(--backError-color);
}

.errorNoSong{
	margin: auto;
	text-align: center;
	margin-top: 20%;
}

.succesLoginContainer{
  margin: 10px 0 0 0;
  width: 100%;
}

.succesLogin{
  margin: auto;
  width: 380px;
  padding: 10px;
  color: var(--back-color);
  border-radius: 25px;
  text-align: center;
  background-color: var(--backSucces-color);
}

.tableContainer {
  margin: 0 0 0 20px;
  color: var(--greyTitle-color);
}

/******************ACCOUNT**********************/


.accountFormcontent{
	display: flex;
  	justify-content: center;
  
}

.accountFormcontent form {
  text-align: center;
  margin: 100px 0 0 0;
  height: auto;
  width: 400px;
  background-color: var(--ligthBlackhover-color);
  border-radius: 15px;
}

.accountFormcontent form table tr td .logo {
  margin-bottom:20px;
}


.accountFormcontent form h2{
  color: var(--pastel-color);
  font-size: 30px;
  margin: 20px 10px 0 20px;
  float: left;
  padding: 10px 10px 50px 0;
}

.accountFormcontent table{
  margin: auto;

}

.accountFormcontent form table tr td{
  height: 100px;
  font-size: 25px;
}


.accountFormcontent form table tr td svg{
  margin: 10px 0 0 0;
}

.accountFormcontent form table tr td p{
	color: var(--pastel-color);
  font-size: 18px;
  border-radius: 10px;
  width: 270px;
  margin: auto;
  padding: 7px;
}


.accountFormcontent p{
  color: var(--greyTitle-color);
  margin: 90px 0 0 0;
}

.accountFormcontent .logout a{
	font-size: 20px;
	border-radius: 25px;
	color: var(--pastel-color);
	background-color: var(--gray-color);
	text-decoration: none;
	margin: 10px;
	padding: 12px 15px 10px 15px;
}

.accountFormcontent .logout a:hover{
	transition: all 0.3s ease-out;
	background-color:var(--gray-color);
}

.accountFormcontent .deleteAccount a{
  font-size: 15px;
  border-radius: 25px;
  color: var(--pastel-color);
  text-decoration: none;
  margin: 10px;
  padding: 12px 15px 10px 15px;
}

.accountFormcontent .deleteAccount a:hover{
  transition: all 0.3s ease-out;
  color: var(--gray-color);
}

/******************************ACCUEIL******************************/

.ACmainBlock{
	display: flex;
	overflow-x: auto;
}

.ACmainBlock .ACblock{
	text-align: center;
	min-width: 200px;
	min-height: 200px;
	border-radius: 10px;
	margin: 50px 0 30px 50px;
	background-color: var(--lightBlack-color);
}

.ACmainBlock .ACblock:hover{
	background-color: var(--ligthBlackhover-color);

}

.ACmainBlock a{
	text-decoration: none;
}

.ACblock a{
	text-decoration: none;

}

.ACblock h1{
	width: 100%;
	font-weight: 800;
	font-size: 20px;
	color: var(--pastel-color);
	/* text-shadow: 1px 1px 3px #5c5c5c; */

}

.ACblock p{
	width: 100%;
	float: bottom;
	text-decoration: none;
	color: var(--lightPastel-color);
}



.ACblock img{
	box-shadow: 0 7px 40px 0 var(--blackBackground-color);
	border-radius: 100px;
	margin-top: 10px;
	margin-bottom: 0;
	height: 90px;
}

/*************************Footer****************************************/

footer{
	float: left;
	height: 100px;
	width: 100%;
	background-color: var(--blackBackground-color);
	color: var(--gray-color);
	bottom: 0;
	position: fixed;
}

.leftFooter {	
	margin-top: 6px;
	height: 100%;
	float: left;
	width: 33%;
}

.LeftFooterTxt{
	padding-top: 16px;
}


.leftFooter p{	
	margin: 5px;
	padding-left: 100px;
}

.leftFooter img{
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 0;
	float: left;
	width: 60px;
	height: 60px;
}
.midFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}
.rightFooter{
	height: 100%;
	float: left;
	width: 33%;
	text-align: center;
}

/********************************************Recherche************************************************/


.searchBarTitle h1 {
	color: var(--back-color);
	padding: 0 0 20px 0;
}

.searchBar {
	margin: auto;
	position: relative;
	max-width: 100%;
    height: 50px;
	padding: 10px 60px 0 50px;
}

.searchBarInputContainer {
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: var(--back-color);
	border-radius: 10px;
}

.searchIcon {
	height: 50px;
	margin: auto;
}

.icon {
	background-color: transparent;
	height: 95%;
	border: 0;
	outline: none;
}

#icon {
	margin: 5px 0 0 0;
}

.icon:hover {
	cursor: pointer;
}

#search {
	width: 95%;
	height: 40px;
	font-size: 25px;
	border: 0;
	background-color: var(--back-color);
	outline:none;
}

.searchBarInput {
	width: 100%;
	margin: auto;
	background-color: var(--back-color);
	border-radius: 10px;
}

.allTitleContainer {
	width: 100%;
    position: relative;
    margin: auto;
}

.result {
	text-align: left;
	margin: 5% 0 0 0; 
	color: var(--back-color);
}

.titleContainer {
	height: 80px;
    position: relative;
    border-radius: 5px;
    margin: 5% 0 0 0;
    width: 100%;
    background-color: var(--blackBackground-color);
}

.titleContainer img{
	float: left;
	margin: 7px 0 0 7px;
	border-radius: 7px;
	height: 65px;
}

.titleContainer p{
	float: left;
	margin: 30px 0 0 3%;
	font-size: 18px;
	color: var(--lightPastel-color);
}

.playlistContainer {
	text-align: center;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    flex-wrap: wrap;
}

.playlistBlock {
	border-radius: 10px;
    height: 100px;
    margin: 50px 0 50px 0;
    flex-basis: 500px;
    background-color: var(--lighterBlack-color);
    box-shadow: 0 7px 40px 0 var(--lightBlack-color);
}

.playlistBlock a {
	text-decoration: none;
    display: flex;
	justify-content: flex-start;
	margin: 0 0 0 20px;
}

.playlistImg img {
	border-radius: 5px;
    margin: 18px 0 0 0;
    min-height: 65px;
    max-width: 65px;
    min-width: 65px;
    max-height: 65px;
}

.playlistTitleDateContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	margin: 0 0 0 10px;
}

.playlistTitle p {
	padding-top: 5px;
    margin: 0 10px;
    font-weight: 800;
    font-size: 25px;
    color: var(--lightBlack-color);
    text-shadow: 4px 4px 7px var(--gray-color);
}

.playlistCreationDate p {
	font-size: 13px;
	color: var(--lightBlack-color);
    margin: 0;
	padding-top: 5px;
    margin: 0 10px;
}


/********************************************Artistes*************************************************/


.ARmainBlock{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.ARblock1{
	border-radius: 10px;
	height: 270px;
	margin: 50px 20px 0 20px;
	flex-basis: 260px;
	background-color: var(--lighterBlack-color);
}

.ARblock1 a{
	text-decoration: none;
	color: var(--blackBackground-color);
}

.ARblockTitle p{
	padding-top: 5px;
	margin: 0 10px 0 10px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 4px 4px 7px var(--lighterBlack-color);
}

.ARimgCover img{
	box-shadow: 0 7px 40px 0 var(--blackBackground-color);
	border-radius: 100px;
	margin-top: 30px;
	margin-bottom: 0;
	max-height: 120px;
}

.ARblockText{
	padding-top: 7px;
	margin-left: 18px;
	margin-right: 18px;
}

.ARblockText p{
	font-size: 13px;
	margin: 0;
}

.plus{
	background-color: var(--lighterBlack-color);
	height: 22px;
	width: 22px;
	margin-left: 85%;
	border-radius: 30px;
	margin-top: -4%;
}

.plus a{
	margin: 5px;
	font-weight: 400;
	font-size: 20px;
	color: var(--back-color);
	text-decoration: none;
}

.plus:hover a {
	color: rgb(226, 226, 226);
}

.ARblock1:hover{
    box-shadow: 0 7px 40px 0 var(--blackBackground-color);
} 
/*******************************************TOUS LES TITRES**********************************************/

.addTitle{
	margin: 20px 0 0 20px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: rgb(214, 214, 214);
	padding: 10px 9px 9px 10px;
}

.addArtist{
	margin: 20px 0 0 20px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	background-color: rgb(214, 214, 214);
	padding: 12px 8px 2px 9px;	
}

.alltitle{
	padding: 30px 0 0 0;
	color: var(--back-color);
	font-weight: bold;
	font-size: 80px;
}

.alltitle p{
	margin-left: 2%;
	position: fixed;
	z-index: -1;
}

.alltitle img{
	float: left;
	box-shadow: 0 24px 25px 0 var(--blackBackground-color);
	border-radius: 100px;
	margin: 70px 0 0 0;
	height: 120px;
	position: fixed;
	z-index: -1;
}

.alltitlemainBlock{
	background: linear-gradient(to left, rgb(35, 80, 55), rgb(15, 29, 55));
	padding-bottom: 40%;
	margin: 370px 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*******************************************Playlist perso***********************************************/
.Playlisttitle{
	padding: 30px 0 0 70px;
	color: var(--back-color);
	font-weight: bold;
}

.Playlisttitle p{
	font-size: 80px;
	margin-left: 10%;
	/* position: fixed; */
	z-index: -1;
}

.Playlisttitle img{
	float: left;
	box-shadow: 0 24px 25px 0 var(--blackBackground-color);
	border-radius: 20px;
	margin: 70px 0 0 0;
	min-height: 120px;
	max-height: 120px;
	min-width: 120px;
	max-width: 120px;
}

.ListMusicsMainBlock{
	background: linear-gradient(to bottom right, var(--blackBackground-color), var(--gray-color));
	padding-bottom: 100%;
	margin: 100px 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.PLblock1 a{
	text-decoration: none;
}

.PLblock1 p{
	color: var(--lightBlack-color);
}

.notlogplaylist{
	padding: 30px;
}

/******************************************Création playlists********************************************/

.plalistCreaTitle{
	padding: 0 0 0 0;
	color: var(--back-color);
	font-weight: bold;
	font-size: 60px;
}

.plalistCreaTitle p{
	margin-left: 2%;
}

.formCreation{
	margin: 0 0 0 0;
}

.formCreation label{
	font-weight: bold;
	color: var(--back-color);
	margin-left: 2%;
	font-size: 30px;
}

.playlistCreaBlock {
	margin: 260px 0 0 0;
}

.playlistCreaBlock{
	background: linear-gradient(to bottom right, var(--lightBlack-color), var(--gray-color));
	padding-bottom: 40%;
	margin: 110px 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/*******************************************ARTISTES PERSO***********************************************/
.ARPtitle{
	padding: 30px 0 0 70px;
	color: var(--back-color);
	font-weight: bold;
	font-size: 80px;
}

.ARPtitle p{
	margin-left: 10%;
	position: fixed;
	z-index: -1;
}

.ARPtitle img{
	float: left;
	box-shadow: 0 24px 25px 0 var(--blackBackground-color);
	border-radius: 100px;
	margin: 70px 0 0 0;
	height: 120px;
	position: fixed;
	z-index: -1;
}

.ARPmainBlock{
	background: linear-gradient(to bottom right, rgb(32, 32, 32), rgb(138, 143, 138));
	padding-bottom: 100%;
	margin: 300px 0 0 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.ARPblock1{
	height: 80px;
	border-radius: 5px;
	margin: 30px 20px 20px 20px;
	background-color: rgb(10, 10, 10);
	/* box-shadow: 0 7px 40px 0 rgba(85, 85, 85, 0.7);	 */
}

#ARPblock1Id {
	margin: 30px 0px 20px 0px;
}

.ARPblock1 p{
	float: left;
	margin: 30px 0 0 3%;
	font-size: 18px;
	color: var(--gray-color);
	/* text-shadow: 4px 4px 7px #5c5c5c; */
}

.ARPblock1 img{
	height: 65px;
	max-width: 65px;
	float: left;
	margin: 7px 0 0 7px;
	border-radius: 7px;
}

.ARPblock1 input {
	margin-top: 33px;
	width: 50px;
	float: left;
}

svg.like{
	float: right;
	margin: 25px 50px 0 0;
	fill: var(--back-color);
}

svg.like:hover{
	fill: var(--greenLike-color);
}

.dropbtn {
	margin : 25px 14px 0 0;
	border-radius: 10px;
	background-color: var(--gray-color);
	color: var(--back-color);
	padding: 5px 10px 0 10px;
	font-size: 18px;
	font-weight: 800;
	border: none;
	cursor: pointer;
} 

#heartBtnList {
	display: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	/* z-index: 1; */
}

.dropdown-content {
	border-radius: 9px;
	display: none;
	right: 0;
	background-color: #f9f9f9;
	position: relative; 
	background-color: var(--dropdown-color);
	box-shadow: 0px 8px 16px 0px var(--blackBackground-color);
	z-index: 1;
}

.dropdown-content a {
	color: var(--blackBackground-color);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content 
{
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: rgb(177, 177, 177);
	margin-left: 75px;
}

/*******************************************PLAYLISTS***********************************************/

.title{
	padding: 10px 0 0 60px;
}

.title p{
	color: var(--back-color);
	font-weight: bold;
	font-size: 30px;
}

.PLmainBlock{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.playlistcreation{	
	flex-basis: 260px;
	margin: 170px 50px 150px 50px;
	background-color: darkgrey;
	border-radius: 30px;
	box-shadow: 0 7px 40px 0 var(--lighterBlack-color);
}

.playlistcreation p{
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(32, 32, 32);
}

.playlistcreationBoutton{
	margin: 12px;
	height: 45px;
	border-radius: 30px;
	margin-left: 108px;
	margin-right: 108px;
	background-color: var(--borderInput-color);
}

.playlistcreationBoutton a{
	font-size: 40px;
	color: var(--back-color);
	text-decoration: none;
}

/* .playlistcreationBoutton:hover a {
	color: var(--gray-color);
} */

.PLblock1{
	border-radius:10px;
	height: 320px;
	margin: 50px;
	flex-basis: 260px;
	background-color: var(--lighterBlack-color);
	box-shadow: 0 7px 40px 0 var(--lightBlack-color);
}

.PLblockTitle p{
	padding-top: 5px;
	margin: 0 10px;
	font-weight: 800;
	font-size: 25px;
	color: var(--lightBlack-color);
	text-shadow: 4px 4px 7px var(--gray-color);
}

.PLimgCover img{
	border-radius: 5px;
	margin: 30px 0 0 0;
	margin-bottom: 0;
	min-height: 200px;
	max-width: 200px;
	min-height: 200px;
	max-height: 200px;
}

.PLblockText{
	padding-top: 7px;
	margin-left: 18px;
	margin-right: 18px;
}

.PLblockText p{
	font-size: 13px;
	margin: 0;
}

.playlistcreation:hover{
    box-shadow: 0 7px 40px 0 var(--blackBackground-color);
} 

/******************************************Formulaire artiste*******************************************/

.formcontent{
	display: flex;
  	justify-content: center;
}

.formcontent form {
	color: var(--lightBlack-color);
	text-align: center;
	margin: 100px 0 0 0;
	height: 500px;
	width: 400px;
	background-color: rgb(156, 156, 156);
	border: 3px solid rgb(48, 48, 48);
	border-radius: 25px;
}

.formcontent table{
	margin: 0 0 0 33px;
}


.formcontent form table tr td{
	font-size: 20px;
}

.formcontent form button{
	margin: 20px 0 0 0;
	font-size: 20px;
	border: none;
	padding: 10px 20px;
	color: #ffffff;
	background-color: var(--backSucces-color);
	border-radius: 10px;
	cursor: pointer;
}

.formcontent form button:hover{
	background-color: #0bc251;
}
  
.formcontent form table tr td svg{
	margin: 10px 0 0 0;
	position: absolute;
}
  
.formcontent form table tr img{
	box-shadow: 0 7px 40px 0 var(--blackBackground-color);
    border-radius: 50%;
    margin-bottom: 0;
    max-height: 100px;
}

.formcontent form table tr input{
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid var(--darkGrey-color);
	width: 170px;
	margin: 10px 0 0 50px;
	padding: 7px;
}

.formcontent form table tr select{
	font-size: 18px;
	border-radius: 10px;
	border: 1px solid var(--darkGrey-color);
	width: 170px;
	margin: 10px 0 0 50px;
	padding: 7px;
}

/* .erreurrr{
	margin-left: 232px;
} */


/*******************************************ABOUT***********************************************/

.bottom{
	padding-top: 380px;
}

.resContainer {
	margin: auto;
	padding: 90px 0 0 0;
}

.contenu{
	max-width: 100%;
    position: relative;
	margin: 0;
}

.contenutext{
	width: 50%;
    border-radius: 10px;
    background-color: var(--gray-color);
    box-shadow: 0 7px 40px 0 rgb(131 131 131 / 70%);
    /* position: absolute; */
    margin: 123px 0 0 26%;
}

.contenutext p{
	text-align: center;
	margin: 20px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(32, 32, 32);
	text-shadow: 2px 4px 7px var(--gray-color);
}

.resContenu {
	text-align: center;
	margin: 0 10px 23px 10px;
	font-weight: 800;
	font-size: 25px;
	color: rgb(150, 150, 150);
	text-shadow: 2px 4px 7px var(--blackBackground-color);
}

.iconContainer a {
	text-align: center;
}

.iconContainer {
	max-width: 40%;
    position: relative;
    margin: auto;
    text-align: center;
}

.resSVGTwitter{
	padding-left: 2%;
}
.resSVGYTB{
	padding-left: 2%;
}

/***********************************************************************************************/

/*Responsive Design*/

@media only screen and (max-width: 1150px)
{
	/*Navigation Bar*/

	.mainContent{
		margin-left: 0;
	}

	.ARmainBlock{
		margin-left: 0;
	}

	.toggleButton
	{
		display: flex;
		position: absolute;
	}

	.open {
		justify-content: center;
	}

	.leftnav {
		width: 100%;
		height: 110px;
		padding: 0;
		position: unset;
		border-bottom: 1px solid var(--gray-color);
	}

	.leftnav ul
	{
		display: none;
		flex-direction: column;
		width: 100%;
	}

	.leftnav li {
		width: 100%;
		background-color: var(--blackBackground-color);
		text-align: center;
	}

	.leftnav li:hover {
		background-color: var(--pastel-color);
	}

	.leftnav ul li a {
		color: var(--back-color);
		padding: 12px;
	}

	.logo {
		display: none;
	}

	.research {
		margin: 0;
	}

	.bottom {
		padding: 0;
	}

	.home {
		border-top: 1px solid var(--pastel-color);
	}

	.navBarLink.active {
		display: flex;
		position: absolute;
		margin: 110px 0 0 0;
		z-index: 1;
		align-items: flex-end
	}

	/*Login Form*/

	.login-container{
		margin: -57px 50px 0 0;
		position: absolute;
	}

	#psw, #login {
		height: 34px;
    	border: 1px solid var(--pastel-color);
	}

	.notlog {
		margin: 15px 0 0 0;
		display: flex;
	}

	.notlog a {
		height: 20px;
		margin-top: -8px;
		text-align: center;
	}

	.notlog p {
		display: none;
	}

	/*Content Home*/

	.ACmainBlock{
		margin-left: 20px;
	}

	.title{
		margin-left: 15px;
		padding: 0;
	}

	/*Search Bar*/

	.searchBar {
		padding: 10px 60px 0 50px;
	}

	/*playlist*/

	.PLmainBlock {
		margin: 0;
	}

	/*Artists*/

	.alltitlemainBlock {
		margin: 260px 0 0 0;
	}

	/*Title*/

	.alltitle{
		margin: 0;
		padding: 0;
	}

	/*About*/

	.contenu {
		margin: 0;
	}

	.contenutext {
		margin: auto;
		width: 60%;
	}	
}




@media only screen and (max-width: 925px)
{ 
	/*Search and Titles*/
	.typeName {
		display: none;
	}

	svg.like {
		margin: 25px 25px 0 0;
	}
	
	
}

@media only screen and (max-width: 735px)
{ 
	/*Search and Titles*/
	.musDuration {
		display: none;
	}
}

@media only screen and (max-width: 595px)
{ 
	/*Search and Titles*/
	.artName {
		display: none;
	}

	#heartBtnList {
		display: block;
		border-top: 1px solid var(--gray-color);
	}

	.likeList:hover {
		fill: var(--greenLike-color);
	}

	#heartBtn {
		display: none;
	}


	.searchBar {
		padding: 10px 5px 0 5px;
	}

	/*Playlists*/
	.PLblock1{
		margin: 50px 19px;
	}

	/*About*/
	.contenutext {
		width: 90%;
	}
}