/* Auteur : Killian Good */
/* Date : 01.03.2021 */
/* Description : CSS de la page de login */

/* BODY HTML */
body {
    font-size: 14px;
    background: linear-gradient(to bottom right, gray, black);
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}
	
.form input[type='password'],
.form text,
.form select,
.form textarea,
.form input[type='text'] {
    width: 100%;
    border: 1px solid tomato;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
    display: block;
    resize:vertical;
}
.form input[type='submit'] {
	margin-top:5px;
    margin-bottom:5px;
}

.widget {
    margin-top: 300px;
	width:500px;
	margin-left:665px;
    background-color: darkgrey; 
}
.widget .widget-heading {
	background: #282828;
	border: 1px solid white;
	padding: 10px;
	font-weight: bold;
	text-align: justify;
    color: white;
}
.widget .widget-contents {
    padding: 10px;
    border-bottom: 1px solid #eee;
    
}

/* couleur du texte dans le bouton */
.btn-primary {
    color:white;
    
}

.btn-primary:hover{
    background: #282828;
}



